In [2]:
import pandas as pd

C:\Users\ahmet\AppData\Local\Temp\ipykernel_18592\2035458946.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv("sorting_results.csv")

In [4]:
df.head()

,algo,n,distribution,pivot,trial,time_ms,comparisons,swaps,extra_bytes
0,merge,100,random,NaN,1,0.1257,541,279,400
1,merge,100,random,NaN,2,0.1102,541,279,400
2,merge,100,random,NaN,3,0.1055,541,279,400
3,heap,100,random,NaN,1,0.1541,1025,579,0
4,heap,100,random,NaN,2,0.1495,1025,579,0

In [5]:
df

,algo,n,distribution,pivot,trial,time_ms,comparisons,swaps,extra_bytes
0,merge,100,random,NaN,1,0.1257,541,279,400
1,merge,100,random,NaN,2,0.1102,541,279,400
2,merge,100,random,NaN,3,0.1055,541,279,400
3,heap,100,random,NaN,1,0.1541,1025,579,0
4,heap,100,random,NaN,2,0.1495,1025,579,0
...,...,...,...,...,...,...,...,...,...
331,quick,2000,nearly,random,2,3.2044,25554,9201,0
332,quick,2000,nearly,random,3,2.6409,24176,9777,0
333,quick,2000,nearly,median,1,2.3190,25945,7115,0
334,quick,2000,nearly,median,2,2.5722,25945,7115,0
335,quick,2000,nearly,median,3,2.4267,25945,7115,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   algo          336 non-null    object
 1   n             336 non-null    int64
 2   distribution  336 non-null    object
 3   pivot         144 non-null    object
 4   trial         336 non-null    int64
 5   time_ms       336 non-null    float64
 6   comparisons   336 non-null    int64
 7   swaps         336 non-null    int64
 8   extra_bytes   336 non-null    int64
dtypes: float64(1), int64(5), object(3)
memory usage: 23.8+ KB